<div class="container">
  <div>
    <h1>ToDo Form</h1>
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
      <div class="form-group" [formGroup]="todoForm" >
        <input type="text" class="form-control" id="description" [(ngModel)]="description" name="description" formControlName="description" placeholder="Type a new task">
        <label for="description"></label>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!todoForm.controls.description.valid">Create</button>
    </form>
  </div>
</div>